
span.__rdt_custom_sort_icon__.asc img {
   -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
       transform: rotate(180deg);
}

.rdt_TableBody {
  overflow: auto;
  height: 60vh;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #1C2025;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #EC174F;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #EC174F;
}
